{
    "slack": {
        "token": "",
        "channel": "",
        "debug": false
    },
    "address": {
        "from": "",
        "to": "",
        "subject": "",
        "phone": ""
    },
    "mail": {
        "host": "",
        "port": 25,
        "secure": false,
        "auth": {
            "user": "",
            "pass": ""
        }
    },
    "database": {
        "name": "",
        "username": "",
        "password": "null"
    }
}
