[
{
    "name": "john.doe",
    "shortName": "JD",
    "meal": "",
    "extra": false,
    "roulette": false
},
{
    "name": "a.baz",
    "shortName": "AB",
    "meal": "",
    "extra": false,
    "roulette": false
}
]
